.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* 로고 이미지 스타일 */
.logo {
    width: 500px; /* 로고 크기 조정 */
    margin-bottom: 20px; /* 로고와 입력칸 사이의 간격 */
}

.title {
    font-size: 3rem;
    color: #333;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.nameInput {
    font-size: 1.2rem;
    padding: 10px;
    border: 2px solid #333;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 250px;
    color: #4a4a4a; /* 텍스트 색상을 진한 회색으로 설정 */
}

.playButton {
    font-size: 1.2rem;
    padding: 12px 20px;
    background-color: #0070f3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.playButton:hover {
    background-color: #005bb5;
}
